$primary: #24325FFF;
$primary-faded: rgba(36, 50, 95, 0.7);
$alt-primary: #01B4C6;
$secondary: #B7E4F9FF;
$secondary-faded: rgba(183, 228, 249, 0.7);
$text-primary: #A6EEE6FF;
$text-secondary: #69C8ECFF;
$cart-base: #FF9800;
$cart-alt: #FF5722;